<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Eric Oh</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="assets/home.css.scss">
</head>
<body>
    
    <div class="wrapper">	
	  <div class="main">
	    
      <section class="page1">
        <div class="page_container">
          <h1>Eric Oh </br><strong>Ruby on Rails - Javascript - AngularJS</strong></h1>
          <h2>I’m a full-stack developer. I take wild ideas and mold them into useful applications. I’m inspired by working with others but also strive for personal achievement. I’m competitive, I’m motivated, and I'm hungry. Welcome to my portfolio. </h2>
          
  	    </div>
      </section>
	    
	    <section class="page2">
	      <div class="page_container">
          <h1><a href="https://statcity.herokuapp.com">StatCity</a></h1>
          <h2>StatCity displays NBA stats and other information to help users of daily fantasy sports sites. StatCity uses the Nokogiri and Mechanize gems to scrape the Yahoo Sports, ESPN, and FleaFlicker sites. This data is stored to the database on the StatCityAPI app, which is then pulled into the StatCity app with HTTParty. The data is converted to FanDuel points and displayed on a D3 graph.</h2>
	      </div>
      </section>
	    
	    <section class="page3">
	      <div class="page_container">
          <h1><a href="https://predict-app.herokuapp.com/">Predictive</a></h1>
          <h2>Predictive is a web app that determines how many customers a business can expect to attract in a given location. It analyzes demographics, auto traffic volume, and the concentration of competing businesses to help potential business owners gauge the success of their business. This is a Test Driven Development project built with Ruby on Rails, AngularJS, Postgresql, the Google Maps API, the Factual API, and data from the California Department of Transportation.</h2>
  	    </div>
      </section>

      <section class="page4">
        <div class="page_container">
          <h1><a href="https://ischoolapp.herokuapp.com/">iSchool</a></h1>
          <h2>A Student Information System that uses D3 to show students' performance, the Paperclip gem to upload photos of quizzes and assignments, and MongoDB. Built with Ruby on Rails, deployed with Heroku, and styled with Bootstrap.</h2>
        </div>
      </section>

      <section class="page5">
        <div class="page_container">
          <h1><a href="http://myfirsttictactoe.firebaseapp.com">Tic-Tac-Toe</a></h1>
          <h2>A Tic-Tac-Toe game built with AngularJS, JavaScript, Firebase, HTML, and CSS. Designed to be played with two players across two browsers, it is the first in a series of logic games for kids.</h2>
        </div>
      </section>
      
    </div>
    <div class="back"> 
      <a href="https://www.linkedin.com/profile/view?id=382354477&trk=nav_responsive_tab_profile"><img id ="linkedin" src="/assets/official_logo_linkedin.png"></a>
      <a href="https://github.com/oheric"><img id ="github" src="http://www.levihackwith.com/wp-content/uploads/2011/10/github-logo.png"></a>
    </div>
  </div>
  <script>
	 onePageScroll(".main", {
     sectionContainer: "section",
     loop: true,
     responsiveFallback: false
   });
		
	</script>
</body>
</html>